In [1]:
#Import modules.
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

In [2]:
#Read file into dataframe.
df = pd.read_csv("C:/Users/melit/OneDrive/Data Analytics/Modules/Module 7 - Project 1/Project 1/Impact_of_Remote_Work_on_Mental_Health.csv")

#Print out first 5 rows.
df.head()

,Employee_ID,Age,Gender,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Stress_Level,Mental_Health_Condition,Access_to_Mental_Health_Resources,Productivity_Change,Social_Isolation_Rating,Satisfaction_with_Remote_Work,Company_Support_for_Remote_Work,Physical_Activity,Sleep_Quality,Region
0,EMP0001,32,Non-binary,HR,Healthcare,13,Hybrid,47,7,2,Medium,Depression,No,Decrease,1,Unsatisfied,1,Weekly,Good,Europe
1,EMP0002,40,Female,Data Scientist,IT,3,Remote,52,4,1,Medium,Anxiety,No,Increase,3,Satisfied,2,Weekly,Good,Asia
2,EMP0003,59,Non-binary,Software Engineer,Education,22,Hybrid,46,11,5,Medium,Anxiety,No,No Change,4,Unsatisfied,5,NaN,Poor,North America
3,EMP0004,27,Male,Software Engineer,Finance,20,Onsite,32,8,4,High,Depression,Yes,Increase,3,Unsatisfied,3,NaN,Poor,Europe
4,EMP0005,49,Male,Sales,Consulting,32,Onsite,35,12,2,High,NaN,Yes,Decrease,3,Unsatisfied,3,Weekly,Average,North America

In [3]:
#Print out the basic information about the dataframe to identify whether the number of responses is equal or if some responses are missing. Also, to review the data types.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Employee_ID                        5000 non-null   object
 1   Age                                5000 non-null   int64
 2   Gender                             5000 non-null   object
 3   Job_Role                           5000 non-null   object
 4   Industry                           5000 non-null   object
 5   Years_of_Experience                5000 non-null   int64
 6   Work_Location                      5000 non-null   object
 7   Hours_Worked_Per_Week              5000 non-null   int64
 8   Number_of_Virtual_Meetings         5000 non-null   int64
 9   Work_Life_Balance_Rating           5000 non-null   int64
 10  Stress_Level                       5000 non-null   object
 11  Mental_Health_Condition            3804 non-null   object
 12  Access_to_Mental_Health_Resources  5000 non-null   object
 13  Productivity_Change                5000 non-null   object
 14  Social_Isolation_Rating            5000 non-null   int64
 15  Satisfaction_with_Remote_Work      5000 non-null   object
 16  Company_Support_for_Remote_Work    5000 non-null   int64
 17  Physical_Activity                  3371 non-null   object
 18  Sleep_Quality                      5000 non-null   object
 19  Region                             5000 non-null   object
dtypes: int64(7), object(13)
memory usage: 781.4+ KB

In [4]:
#Convert string values to integers to be able to calculate.
df['Stress_Level'].replace({'Low': 1, 'Medium': 2, 'High': 3}, inplace=True)
df

C:\Users\melit\AppData\Local\Temp\ipykernel_95860\2539612708.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Stress_Level'].replace({'Low': 1, 'Medium': 2, 'High': 3}, inplace=True)
C:\Users\melit\AppData\Local\Temp\ipykernel_95860\2539612708.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Stress_Level'].replace({'Low': 1, 'Medium': 2, 'High': 3}, inplace=True)

,Employee_ID,Age,Gender,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Stress_Level,Mental_Health_Condition,Access_to_Mental_Health_Resources,Productivity_Change,Social_Isolation_Rating,Satisfaction_with_Remote_Work,Company_Support_for_Remote_Work,Physical_Activity,Sleep_Quality,Region
0,EMP0001,32,Non-binary,HR,Healthcare,13,Hybrid,47,7,2,2,Depression,No,Decrease,1,Unsatisfied,1,Weekly,Good,Europe
1,EMP0002,40,Female,Data Scientist,IT,3,Remote,52,4,1,2,Anxiety,No,Increase,3,Satisfied,2,Weekly,Good,Asia
2,EMP0003,59,Non-binary,Software Engineer,Education,22,Hybrid,46,11,5,2,Anxiety,No,No Change,4,Unsatisfied,5,NaN,Poor,North America
3,EMP0004,27,Male,Software Engineer,Finance,20,Onsite,32,8,4,3,Depression,Yes,Increase,3,Unsatisfied,3,NaN,Poor,Europe
4,EMP0005,49,Male,Sales,Consulting,32,Onsite,35,12,2,3,NaN,Yes,Decrease,3,Unsatisfied,3,Weekly,Average,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,EMP4996,32,Male,Sales,Consulting,4,Onsite,24,2,5,3,Burnout,Yes,Decrease,4,Neutral,1,Weekly,Average,Asia
4996,EMP4997,39,Female,Sales,Healthcare,27,Onsite,48,15,1,1,Depression,Yes,Decrease,1,Satisfied,1,NaN,Average,Africa
4997,EMP4998,42,Female,Sales,Healthcare,21,Hybrid,34,1,4,3,Burnout,No,Increase,3,Satisfied,1,Daily,Poor,Oceania
4998,EMP4999,27,Female,Sales,Healthcare,26,Remote,58,0,5,1,NaN,Yes,Increase,3,Unsatisfied,4,Daily,Average,Asia
4999,EMP5000,29,Male,HR,IT,30,Onsite,20,15,1,1,Depression,Yes,No Change,3,Unsatisfied,5,NaN,Poor,Asia

In [5]:
#Convert yes/no to Boolean. 
df['Access_to_Mental_Health_Resources'].replace({'Yes': True, 'No': False}, inplace=True)
df

C:\Users\melit\AppData\Local\Temp\ipykernel_95860\162272706.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Access_to_Mental_Health_Resources'].replace({'Yes': True, 'No': False}, inplace=True)
C:\Users\melit\AppData\Local\Temp\ipykernel_95860\162272706.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Access_to_Mental_Health_Resources'].replace({'Yes': True, 'No': False}, inplace=True)

,Employee_ID,Age,Gender,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Stress_Level,Mental_Health_Condition,Access_to_Mental_Health_Resources,Productivity_Change,Social_Isolation_Rating,Satisfaction_with_Remote_Work,Company_Support_for_Remote_Work,Physical_Activity,Sleep_Quality,Region
0,EMP0001,32,Non-binary,HR,Healthcare,13,Hybrid,47,7,2,2,Depression,False,Decrease,1,Unsatisfied,1,Weekly,Good,Europe
1,EMP0002,40,Female,Data Scientist,IT,3,Remote,52,4,1,2,Anxiety,False,Increase,3,Satisfied,2,Weekly,Good,Asia
2,EMP0003,59,Non-binary,Software Engineer,Education,22,Hybrid,46,11,5,2,Anxiety,False,No Change,4,Unsatisfied,5,NaN,Poor,North America
3,EMP0004,27,Male,Software Engineer,Finance,20,Onsite,32,8,4,3,Depression,True,Increase,3,Unsatisfied,3,NaN,Poor,Europe
4,EMP0005,49,Male,Sales,Consulting,32,Onsite,35,12,2,3,NaN,True,Decrease,3,Unsatisfied,3,Weekly,Average,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,EMP4996,32,Male,Sales,Consulting,4,Onsite,24,2,5,3,Burnout,True,Decrease,4,Neutral,1,Weekly,Average,Asia
4996,EMP4997,39,Female,Sales,Healthcare,27,Onsite,48,15,1,1,Depression,True,Decrease,1,Satisfied,1,NaN,Average,Africa
4997,EMP4998,42,Female,Sales,Healthcare,21,Hybrid,34,1,4,3,Burnout,False,Increase,3,Satisfied,1,Daily,Poor,Oceania
4998,EMP4999,27,Female,Sales,Healthcare,26,Remote,58,0,5,1,NaN,True,Increase,3,Unsatisfied,4,Daily,Average,Asia
4999,EMP5000,29,Male,HR,IT,30,Onsite,20,15,1,1,Depression,True,No Change,3,Unsatisfied,5,NaN,Poor,Asia

In [6]:
#Convert string values to integers to be able to calculate.
df['Productivity_Change'].replace({'Decrease': 1, 'No Change': 2, 'Increase': 3}, inplace=True)
df

C:\Users\melit\AppData\Local\Temp\ipykernel_95860\629200882.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Productivity_Change'].replace({'Decrease': 1, 'No Change': 2, 'Increase': 3}, inplace=True)
C:\Users\melit\AppData\Local\Temp\ipykernel_95860\629200882.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Productivity_Change'].replace({'Decrease': 1, 'No Change': 2, 'Increase': 3}, inplace=True)

,Employee_ID,Age,Gender,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Stress_Level,Mental_Health_Condition,Access_to_Mental_Health_Resources,Productivity_Change,Social_Isolation_Rating,Satisfaction_with_Remote_Work,Company_Support_for_Remote_Work,Physical_Activity,Sleep_Quality,Region
0,EMP0001,32,Non-binary,HR,Healthcare,13,Hybrid,47,7,2,2,Depression,False,1,1,Unsatisfied,1,Weekly,Good,Europe
1,EMP0002,40,Female,Data Scientist,IT,3,Remote,52,4,1,2,Anxiety,False,3,3,Satisfied,2,Weekly,Good,Asia
2,EMP0003,59,Non-binary,Software Engineer,Education,22,Hybrid,46,11,5,2,Anxiety,False,2,4,Unsatisfied,5,NaN,Poor,North America
3,EMP0004,27,Male,Software Engineer,Finance,20,Onsite,32,8,4,3,Depression,True,3,3,Unsatisfied,3,NaN,Poor,Europe
4,EMP0005,49,Male,Sales,Consulting,32,Onsite,35,12,2,3,NaN,True,1,3,Unsatisfied,3,Weekly,Average,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,EMP4996,32,Male,Sales,Consulting,4,Onsite,24,2,5,3,Burnout,True,1,4,Neutral,1,Weekly,Average,Asia
4996,EMP4997,39,Female,Sales,Healthcare,27,Onsite,48,15,1,1,Depression,True,1,1,Satisfied,1,NaN,Average,Africa
4997,EMP4998,42,Female,Sales,Healthcare,21,Hybrid,34,1,4,3,Burnout,False,3,3,Satisfied,1,Daily,Poor,Oceania
4998,EMP4999,27,Female,Sales,Healthcare,26,Remote,58,0,5,1,NaN,True,3,3,Unsatisfied,4,Daily,Average,Asia
4999,EMP5000,29,Male,HR,IT,30,Onsite,20,15,1,1,Depression,True,2,3,Unsatisfied,5,NaN,Poor,Asia

In [7]:
#Convert string values to integers to be able to calculate.
df['Satisfaction_with_Remote_Work'].replace({'Unsatisfied': 1, 'Neutral': 2, 'Satisfied': 3}, inplace=True)
df

C:\Users\melit\AppData\Local\Temp\ipykernel_95860\1410168153.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Satisfaction_with_Remote_Work'].replace({'Unsatisfied': 1, 'Neutral': 2, 'Satisfied': 3}, inplace=True)
C:\Users\melit\AppData\Local\Temp\ipykernel_95860\1410168153.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Satisfaction_with_Remote_Work'].replace({'Unsatisfied': 1, 'Neutral': 2, 'Satisfied': 3}, inplace=True)

,Employee_ID,Age,Gender,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Stress_Level,Mental_Health_Condition,Access_to_Mental_Health_Resources,Productivity_Change,Social_Isolation_Rating,Satisfaction_with_Remote_Work,Company_Support_for_Remote_Work,Physical_Activity,Sleep_Quality,Region
0,EMP0001,32,Non-binary,HR,Healthcare,13,Hybrid,47,7,2,2,Depression,False,1,1,1,1,Weekly,Good,Europe
1,EMP0002,40,Female,Data Scientist,IT,3,Remote,52,4,1,2,Anxiety,False,3,3,3,2,Weekly,Good,Asia
2,EMP0003,59,Non-binary,Software Engineer,Education,22,Hybrid,46,11,5,2,Anxiety,False,2,4,1,5,NaN,Poor,North America
3,EMP0004,27,Male,Software Engineer,Finance,20,Onsite,32,8,4,3,Depression,True,3,3,1,3,NaN,Poor,Europe
4,EMP0005,49,Male,Sales,Consulting,32,Onsite,35,12,2,3,NaN,True,1,3,1,3,Weekly,Average,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,EMP4996,32,Male,Sales,Consulting,4,Onsite,24,2,5,3,Burnout,True,1,4,2,1,Weekly,Average,Asia
4996,EMP4997,39,Female,Sales,Healthcare,27,Onsite,48,15,1,1,Depression,True,1,1,3,1,NaN,Average,Africa
4997,EMP4998,42,Female,Sales,Healthcare,21,Hybrid,34,1,4,3,Burnout,False,3,3,3,1,Daily,Poor,Oceania
4998,EMP4999,27,Female,Sales,Healthcare,26,Remote,58,0,5,1,NaN,True,3,3,1,4,Daily,Average,Asia
4999,EMP5000,29,Male,HR,IT,30,Onsite,20,15,1,1,Depression,True,2,3,1,5,NaN,Poor,Asia

In [ ]:
#Convert string values to integers to be able to calculate.
df['Physical_Activity'].replace({'Daily': 3, 'Weekly': 2}, inplace=True)
df

In [ ]:
#Enter the word "None" for "NaN" values.
df['Physical_Activity'].fillna('None', inplace=True)
df

In [ ]:
#Assign an integer value to the string value in order to calculate.
df['Physical_Activity'].replace({'None': 1}, inplace=True)
df

In [ ]:
#Convert values with a decimal to a whole number in the Physical Activity column.
df['Physical_Activity'] = df["Physical_Activity"].astype(int)
df

In [ ]:
#Convert string values to integers to be able to calculate.
df['Sleep_Quality'].replace({'Good': 1, 'Average': 2, 'Poor': 3}, inplace=True)
df

In [ ]:
#Enter the word "Not Reported" for "NaN" values.
df['Mental_Health_Condition'].fillna('Not Reported', inplace=True)
df

In [ ]:
#Remove Employee_ID column, as there is already an index.
df = df.drop(['Employee_ID'], axis=1)

#Print out first 5 rows to make sure Employee_ID column has been removed from the dataframe.
df.head()

In [8]:
#
df.groupby(['Industry', 'Job_Role'])['Hours_Worked_Per_Week'].mean()

Industry       Job_Role
Consulting     Data Scientist       39.315217
               Designer             40.304348
               HR                   38.568807
               Marketing            40.204082
               Project Manager      38.521739
               Sales                38.600000
               Software Engineer    39.041237
Education      Data Scientist       37.581633
               Designer             39.360000
               HR                   38.232323
               Marketing            38.888889
               Project Manager      42.055556
               Sales                38.604651
               Software Engineer    40.211009
Finance        Data Scientist       38.096154
               Designer             37.241071
               HR                   39.466102
               Marketing            40.098039
               Project Manager      39.887850
               Sales                39.361905
               Software Engineer    40.363636
Healthcare     Data Scientist       36.807692
               Designer             40.090164
               HR                   40.259740
               Marketing            40.319588
               Project Manager      39.419048
               Sales                41.653226
               Software Engineer    41.767677
IT             Data Scientist       40.570000
               Designer             37.702381
               HR                   41.224138
               Marketing            38.590909
               Project Manager      39.964602
               Sales                39.112000
               Software Engineer    42.826531
Manufacturing  Data Scientist       41.250000
               Designer             38.693069
               HR                   38.805825
               Marketing            39.714286
               Project Manager      41.114583
               Sales                43.000000
               Software Engineer    39.170213
Retail         Data Scientist       39.409091
               Designer             38.660714
               HR                   41.191489
               Marketing            40.198113
               Project Manager      37.878788
               Sales                38.022222
               Software Engineer    38.721739
Name: Hours_Worked_Per_Week, dtype: float64

In [9]:
df.groupby(['Job_Role'])['Age'].mean()

Job_Role
Data Scientist       40.728448
Designer             41.348548
HR                   40.557263
Marketing            41.557833
Project Manager      40.524390
Sales                41.008186
Software Engineer    41.271449
Name: Age, dtype: float64

In [10]:
df.groupby(['Job_Role'])['Work_Location'].value_counts()

Job_Role           Work_Location
Data Scientist     Remote           254
                   Hybrid           226
                   Onsite           216
Designer           Hybrid           251
                   Remote           243
                   Onsite           229
HR                 Remote           255
                   Hybrid           233
                   Onsite           228
Marketing          Onsite           230
                   Remote           228
                   Hybrid           225
Project Manager    Onsite           252
                   Hybrid           244
                   Remote           242
Sales              Onsite           245
                   Remote           245
                   Hybrid           243
Software Engineer  Remote           247
                   Onsite           237
                   Hybrid           227
Name: count, dtype: int64